<!doctype html>
<html>
    <head>
        <title>Delete Todo List</title>
    </head>
    <body>
        <header>
        </header>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="control">
                  <button class="button">Delete</button>
                </div>
              </form>
        </main>
        <footer></footer>
    </body>
</html>