<!doctype html>
<html>
    <head>
        <title>List Details</title>
    </head>
    <body>
        <header>
            <div><a href="{% url 'todos_edit' todolist.id %}">Edit</a></div>
            <div><a href="{% url 'todos_delete' todolist.id %}">Delete</a></div>
        </header>
        <main>
            <h1>List Details</h1>
            <ul>
                {% for item in todolist.items.all %}
                <li><a href="{% url 'items_edit' item.id %}">{{ item.task }}</a></li>
                {% endfor%}
            </ul>

        </main>
        <footer></footer>
    </body>
</html>