<!doctype html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
      <header></header>
      <main>
          <h1>My Lists</h1>
          <p><a href="{% url 'todos_create'%}">Create a new list</a></p>
          <p><a href="{% url 'items_create'%}">Create a new item</a></p>
          <table>
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Number of items</th>
                  </tr>
              </thead>
              <tbody>
                  {% for todolist in todolist_list %}
                  <tr>
                      <td><a href="{% url "todos_detail" todolist.id %}">{{ todolist.name }}</a></td>
                      <td>{{ todolist.items.all|length }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </main>
      <footer></footer>  
    </body>
</html>